<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
   container

    <h1>
        URL SHORTENER
    </h1>
<form action="" method="post" class="my-4">
<label for="fullURL" class="sr-only">URL</label>
<input type="url" placeholder="Enter Url Here" name="fullURL" id="fullURL"> 
<button type="submit" > SHRINK</button>


<table class="table my-4 ">
<thead>
<tr>
    <th>FULL URL</th>
<th> SHORT URL</th>
<th>CLICKS</th>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td></td>
<td></td>
</tr>

</tbody>


</table>

</form>


</div>
</body>
</html>